
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #232d60;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #232d60;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;

}

/* Home page*/
#hero {
    background-image: url("UrbanImg/img.png");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-position: top 25% right;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: #338fd0;
}

#btn_hero {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #338fd0;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.01);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #338fd0;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}


#product1 .pro-container{

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
    transition: 0.2s ease;

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color:  #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #338fd0;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 600;
    color: #338fd0;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b21.jpg");
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
} 

#banner h2 span{

    color: rgb(217, 14, 14);

}

#banner button:hover{
    background-color: #cdedea;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 18px;
}

#sm-banner .banner-box:hover button{

    background: #cdd4f8;
    border: 1px solid #cdd4f8;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("img/banner/b16.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e30; 
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #cce7d0;
    color: #041e30;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    padding-bottom:  0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    padding-bottom:  10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer i:hover,
footer a:hover{
    color: #cdd4f8;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


/*SHOP PAGE*/

#page-header {
background-image: url("img/banner/bannerShop.png");
background-size: 100%;
height: 50vh;
display: flex;
justify-content:center;
text-align:center;
flex-direction: column;
}

#page-header h2{
    margin-top: -60px;
    color: #041e30;
}

#page-header p{
    margin-top: 0px;
    color: #041e30;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #041e30;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*Single Products*/
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
    font-size: 26px;    
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}


#prodetails .single-pro-details button{
    background: #041e30;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/*Login page*/
#login_form{
    position: relative;
    margin-top: 70%;

}

.login_page{
background: url(login_page/bg7.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.center{
    position: relative;
    margin-top: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(255, 255, 255, .3);;
   border-radius: 10px;
}

.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;  
    color:#1a1a1a;
    font-size: 35px;
}
.center form{
    padding: 0 50px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #474551;
    margin: 30px 0;
}
 .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16;
    border: none;
    background: none; 
    outline: none;
 }
 .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #474551;
    transform: translateY(-50%);
    font-size:  16px;
    pointer-events: none;
    transition: .5s;
 }
 .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #84447b;
    transition: .5s;
 }
 .txt_field input:focus ~ label,
 .txt_field input:valid ~ label{
    top: -5px;
    color: #84447b;
 }
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass:hover{
    text-decoration: underline;
}
input [type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #a6a6a6;
    border-radius: 25%;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input [type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;   
}

#btn_login {
background-image: url("img/button.png");
background-color: transparent;
background-repeat: no-repeat;
color: #ffffff;
margin: 5px 50px;
padding:  14px 90px 14px 90px;
border: 0;
cursor: pointer;
font-weight: 700;
font-size: 15px;
align-items: center;
}



.signup_link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_link a{
    padding-left: 10px;
    text-decoration: none;
    margin: 30px 0;
    text-align: centre;
    font-size: 16px;
    color: #666666;  
}

.signup_link a:hover{
text-decoration: underline;
}




/*Start Media Query*/

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
   
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;

    }
    
    #lg-bag{
        display: none;
    }
    #lg-log{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {

        justify-content: center;
      
    }
    #feature .fe-box {
       
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro{
        margin: 20px;
    }
    #sm-banner .banner-box {
      
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {

        padding: 0 15px;
    }
    #banner3 .banner-box {
      width: 30%;
       
    }
    #newsletter .form{ 
        width: 70%;
    }
}

@media (max-width: 477px) {
    #section-p1{
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }
    #header img{
        width: 150px;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
  #hero{
    padding: 0 30px;
    background-size: 100%;
    background-position: 60%;
  }

  #feature{
    justify-content: space-between;  
   
}
  #feature .fe-box {
    width: 140px;
    margin: 0 0 15px 0;
}
#product1 .pro {
    width: 100%;
}
#banner {
    height: 30vh;
}
#sm-banner .banner-box {
    height: 40vh;
}
#banner3 .banner-box {
    width: 100%;
}
#newsletter {
    padding: 40px 20px;
}
#newsletter .form {
    width: 100%;
}

/*Single Product Page*/
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}